* {
    border: none;
    border-radius: 4px;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "Google Sans";

    /* adjust font-size value to your liking: */
    font-size: 16px;

    min-height: 0;
}

window#waybar {
    /* background-color: #171717; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    background-color: transparent;
    color: #ffffff;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    /* border-radius: 0; */
}

/* window#waybar.hidden {
    opacity: 0.2;
} */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #000001;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

#workspaces button {
    padding: 0px 4px;
    /* padding: 0 0.4em; */
    /* background-color: transparent; */
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
}

#workspaces button.focused {
  background-color: #404040;
  color:#fff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-wlogout,
#workspaces,
#mpd {
    padding: 4px 10px;
    margin: 0px 3px;
    margin-top: 4px;
    background-color: #171717;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: white;
}

#battery {
    color: white;
}

#battery.charging {
    color: #ffffff;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #ffffff;
}

#memory {
    color: white;
}

#backlight {
    color:white;
}

#network {
    color:white;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #ffffff;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}
