* {
  font-family: "Inter Display", FontAwesome, Monocraft;
  font-size: 14px;
}

#waybar {
  background: transparent;
  color: #f0f0f0;
}

#workspaces {
  padding: 0px;
  color: #f0f0f0;
  border-radius: 99px;
  background-clip: padding-box, border-box;
}

#workspaces button {
  padding: 0px;
  color: #6b7280;
}

#workspaces button.active {
  color: #fafafa;
}

#workspaces,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#window,
#scratchpad,
#power-profiles-daemon,
#custom-power {
  color: #f0f0f0;
  margin-right: 4px;
  background: linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1))
      padding-box,
    linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
  border-radius: 99px;
  padding: 0 10px;
  border: 2px solid transparent;
}
