* {
  font-family: "JetBrainsMono NF", "CaskaydiaCove NF", "Adwaita Sans", FontAwesome, Monocraft;
  font-size: 14px;
}

#waybar {
  background: linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1));
  /* background: transparent; */
  /* color: #f0f0f0; */
  /* background: #6b7280; */
}

/* #workspaces { */
/*   padding: 0px; */
/*   color: #f0f0f0; */
/*   border-radius: 99px; */
/*   background-clip: padding-box, border-box; */
/* } */

#workspaces button {
  padding: 0px;
  color: #6b7280;
}

#workspaces button.active {
  color: #fafafa;
}

#workspaces button.visible {
  color: #fafafa;
}

#workspaces,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#window,
#scratchpad,
#power-profiles-daemon,
#custom-power {
  color: #f0f0f0;
  margin-right: 4px;
  background: linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1))
      padding-box,
    linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
  padding: 0px 10px;
  /* border-bottom: 2px solid red; */
}
